*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation Button styling */

.navbutton button {
    padding: 2px 15px;
    border-radius: 15vh;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-bottom: 10px;
}

.navbutton button:hover {
    background-color: #CCF32F;
    color: #000;
    transition: 0.3s ease;
    border: 1px solid #CCF32F;
  
}

/* The styling of my footer */

footer .footerdiv {
    display: flex;
    justify-content: space-between;
}

footer .socials {
    display: flex;
    gap: 20px;
}