* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation Button styling */

.navbutton button {
  padding: 2px 15px;
  border-radius: 15vh;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-bottom: 10px;
}

.navbutton button:hover {
  background-color: #CCF32F;
  color: #000;
  transition: 0.3s ease;
  border: 1px solid #CCF32F;

}

/* Styling the imagesss */

.containe {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #008CBA; */
  background-color: rgba(76, 175, 80, 0.3);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.containe:hover .overlay {
  bottom: 0;
  height: 100%;
  transform: 0.3s ease;
}

.text {
  position: relative;
  white-space: nowrap; 
  color: #000;
  font-size: 4vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.flex{
  display: flex;
}


/* Adjust font size for smaller screens */

@media screen and (max-width: 768px) {
  .text {
    font-size: 2vw; /* Increase the size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 2vw; /* Make it bigger on very small screens */
  }
}

/* The styling of my footer */

footer .footerdiv {
  display: flex;
  justify-content: space-between;
}

footer .socials {
  display: flex;
  gap: 20px;
}